<template>
  <div class="pa-6">
    <h1>About Vuetify Todo</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quidem
      exercitationem quos praesentium esse, rem asperiores quae inventore
      tenetur aut repellat, dignissimos voluptate odit magni molestias sint! Id,
      ut alias!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quidem
      exercitationem quos praesentium esse, rem asperiores quae inventore
      tenetur aut repellat, dignissimos voluptate odit magni molestias sint! Id,
      ut alias!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quidem
      exercitationem quos praesentium esse, rem asperiores quae inventore
      tenetur aut repellat, dignissimos voluptate odit magni molestias sint! Id,
      ut alias!
    </p>
  </div>
</template>
