<template>
  <div class="Todo">
    <AddTask />
    <ListOfTasks />
    <div v-show="tasks.tasks.length === 0" class="mt-10">
      <DisplayNoTask />
    </div>
    <Snackbar />
    <SnackbarForEditting />
    <div class="pagination">
      <Pagination />
    </div>
  </div>
</template>

<script>
import AddTask from "../components/todoComponent/AddTask.vue";
import ListOfTasks from "../components/todoComponent/listOfTasks/ListOfTasks.vue";
import DisplayNoTask from "../components/DisplayNoTask.vue";
import Snackbar from "../components/Snackbar.vue";
import SnackbarForEditting from "../components/SnackbarForEditting.vue";
import Pagination from "../components/todoComponent/Pagination.vue";
import { mapState } from "vuex";
export default {
  name: "Todo",
  components: {
    AddTask,
    ListOfTasks,
    DisplayNoTask,
    Snackbar,
    SnackbarForEditting,
    Pagination,
  },
  computed: {
    ...mapState(["tasks"]),
  },
};
</script>
<style scoped>
.pagination {
  margin: auto;
  text-align: center;
  max-width: 500px;
}
</style>
