<template>
  <div id="DisplayNoTask">
    <div class="cyan--text text-center">
      <v-scroll-x-transition>
        <v-icon x-large style="font-size: 150px" class="cyan--text">
          mdi-check
        </v-icon>
      </v-scroll-x-transition>
    </div>
    <v-list-item-title style="font-size: 120px" class="cyan--text text-center"
      >No tasks
    </v-list-item-title>
  </div>
</template>

<script>
export default {
  name: "DisplayNoTask",
};
</script>

<style lang="scss" scoped>
#DisplayNoTask {
  margin-bottom: 125px;
}
</style>
