<template>
  <div id="header">
    <NavDrawer />
    <AppBar />
  </div>
</template>

<script>
import NavDrawer from "./headerComponent/NavDrawer.vue";
import AppBar from "./headerComponent/AppBar.vue";
export default {
  name: "Header",
  components: {
    NavDrawer,
    AppBar,
  },
};
</script>

<style lang="scss" scoped></style>
