<template>
  <div id="snackbar">
    <v-snackbar v-model="snackbar" bottom>
      {{ titleOfAction }}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { bus } from "@/main.js";
export default {
  name: "snackbar",
  data() {
    return {
      snackbar: false,
      titleOfAction: "",
    };
  },
  created() {
    bus.$on("showSnackbar", () => {
      this.snackbar = true;
      this.titleOfAction = "Task Added !!!";
    });
  },
};
</script>

<style lang="scss" scoped></style>
