<template>
  <div id="snackbarForEditting">
    <v-snackbar v-model="snackbarForEditting.snackbarObject.showDialog" bottom>
      {{ snackbarForEditting.snackbarObject.titleAction }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="snackbarForEditting.snackbarObject.showDialog = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "snackbarForEditting",
  computed: {
    ...mapState(["snackbarForEditting"]),
  },
};
</script>

<style lang="scss" scoped></style>
