<template>
  <div id="dateOfTask">
    <div v-show="tasks.dateOfTask.id === id">
      <v-icon>mdi-calendar-range</v-icon>
      {{ tasks.dateOfTask.seletedFormatDate }}
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "dateOfTask",
  props: ["id"],
  computed: {
    ...mapState(["tasks"]),
  },
};
</script>

<style lang="scss" scoped></style>
