<template>
  <div id="datepicker">
    <v-date-picker v-model="selectDate" width="100%">
      <v-card-actions>
        <v-btn
          color="primary"
          text
          absolute
          left
          @click="$emit('hideEditDialog')"
        >
          Cancel
        </v-btn>
        <v-btn color="primary" text absolute right @click="showDateOfTask(id)">
          Save
        </v-btn>
      </v-card-actions>
    </v-date-picker>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "datepicker",
  props: ["id"],
  data() {
    return {
      selectDate: null,
    };
  },
  methods: {
    ...mapActions(["showDateOfSelectedTask"]),
    showDateOfTask(id) {
      var date = new Date(this.selectDate);
      var normalizedDate = new Date(
        date.getTime() - date.getTimezoneOffset() * -60000
      );
      var seletedFormatDate = normalizedDate.toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year: "numeric",
      });
      this.showDateOfSelectedTask({ id, seletedFormatDate });
    },
  },
};
</script>

<style lang="scss" scoped></style>
