<template>
  <div>
    <v-card>
      <v-card-title class="headline font-weight-bold">
        Delete Task?
      </v-card-title>

      <v-card-text>
        Are you sure that you want to delete this task now?
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="$emit('hideEditDialog')">
          No
        </v-btn>
        <v-btn color="primary" class="red--text" text @click="deleteTask(id)">
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "DeleteTask",
  props: ["id"],
  methods: {
    ...mapActions(["deleteSelectedTask", "showSnackbarForDeleting"]),
    deleteTask(id) {
      this.deleteSelectedTask(id);
      this.showSnackbarForDeleting();
    },
  },
};
</script>

<style lang="scss" scoped></style>
