<template>
  <div id="EditTask">
    <v-card>
      <v-card-title class="headline font-weight-bold">
        Edit Task
      </v-card-title>
      <v-card-subtitle class="subtitle 1">
        Edit the title of this task
      </v-card-subtitle>
      <v-text-field
        class="mx-3"
        label=""
        required
        v-model="newEditTitle"
      ></v-text-field>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="$emit('hideEditDialog')">
          Cancel
        </v-btn>
        <v-btn
          color="primary"
          class="red--text"
          text
          @click="editTaskTitle(id)"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "EditTask",
  props: ["id"],
  data() {
    return {
      newEditTitle: "",
      dialog: false,
      titleOfAction: "",
    };
  },
  methods: {
    ...mapActions([
      "updateSelectedTaskTitle",
      "showSnackbarForEditting",
      "initialStatusSnackbar",
    ]),
    editTaskTitle(id) {
      if (this.newEditTitle === "") {
        alert("Please fill out the new title to update");
      } else {
        const newEditTitle = this.newEditTitle;
        this.updateSelectedTaskTitle({ id, newEditTitle });
        this.newEditTitle = "";
        this.$emit("hideEditDialog");
        this.showSnackbarForEditting();
      }
    },
  },
  created() {
    const showDialog = this.dialog;
    const titleAction = this.titleOfAction;
    this.initialStatusSnackbar({ showDialog, titleAction });
  },
};
</script>

<style lang="scss" scoped></style>
