<template>
  <div id="listOfTasks" v-show="tasks.tasks.length != 0">
    <v-list flat class="pt-0">
      <div v-for="task in tasks.tasks" :key="task.id">
        <v-list-item
          @click="doneTask(task.id)"
          :class="{ 'blue lighten-5': task.done }"
        >
          <v-list-item-action>
            <v-checkbox :input-value="task.done"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title
              :class="{ 'text-decoration-line-through': task.done }"
              >{{ task.title }}
            </v-list-item-title>
          </v-list-item-content>
          <DateOfTask :id="task.id" />
          <v-list-item-action>
            <MenuActions :id="task.id" />
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
      </div>
    </v-list>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import MenuActions from "./MenuActions.vue";
import DateOfTask from "./DateOfTask.vue";
export default {
  name: "listOfTasks",
  data() {
    return {};
  },
  components: {
    MenuActions,
    DateOfTask,
  },
  created() {
    this.loadInitialTasks({ perPage: 8, page: this.page });
  },
  methods: {
    ...mapActions(["loadInitialTasks", "updateStatusTask"]),
    doneTask(id) {
      this.updateStatusTask(id);
    },
    deleteTask(id) {
      this.tasks = this.tasks.filter((task) => task.id !== id);
    },
  },
  computed: {
    ...mapState(["tasks"]),
    page() {
      return parseInt(this.$route.query.page) || 1;
    },
  },
};
</script>

<style scoped>
#listOfTasks {
  height: 500px;
}
</style>
