<template>
  <div id="menuActions">
    <v-menu left bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <div>
          <v-dialog v-model="dialog" width="350">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item
                v-bind="attrs"
                v-on="on"
                v-for="(actionTask, index) in actionMenus"
                :key="actionTask.icon"
                @click="showSelectedAction(index)"
              >
                <v-icon class="mx-3"> {{ actionTask.icon }}</v-icon>
                <v-list-item-title class="mx-3">
                  {{ actionTask.title }}
                </v-list-item-title>
              </v-list-item>
            </template>
            <div>
              <div v-show="selectedIndex === 0">
                <EditTask @hideEditDialog="dialog = false" :id="id" />
              </div>
              <div v-show="selectedIndex === 1">
                <DatePicker @hideEditDialog="dialog = false" :id="id" />
              </div>
              <div v-show="selectedIndex === 2">
                <DeleteTask @hideEditDialog="dialog = false" :id="id" />
              </div>
              <div v-show="selectedIndex === 3">
                <SortTasks @hideEditDialog="dialog = false" />
              </div>
            </div>
          </v-dialog>
        </div>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import DatePicker from "./DatePicker.vue";
import EditTask from "./EditTask.vue";
import DeleteTask from "./DeleteTask.vue";
import SortTasks from "./SortTasks.vue";
export default {
  name: "menuActions",
  props: ["id"],
  components: {
    EditTask,
    DatePicker,
    DeleteTask,
    SortTasks,
  },
  data() {
    return {
      selectedIndex: 0,
      dialog: false,
      actionMenus: [
        { icon: "mdi-pencil", title: "Edit" },
        { icon: "mdi-calendar-range", title: "Due Date" },
        { icon: "mdi-delete", title: "Delete" },
        { icon: "mdi-sort", title: "Sort" },
      ],
    };
  },
  methods: {
    showSelectedAction(index) {
      this.selectedIndex = index;
    },
  },
};
</script>

<style lang="scss" scoped></style>
