<template>
  <div id="SortTasks">
    <v-card>
      <v-card-title class="headline font-weight-bold">
        Sort by the title?
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="$emit('hideEditDialog')">
          No
        </v-btn>
        <v-btn
          color="primary"
          class="red--text"
          text
          @click="sortTasksByTheTitle"
        >
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "SortTasks",
  methods: {
    ...mapActions(["sortAllTasksByTheTitle", "showSnacbarForSorting"]),
    sortTasksByTheTitle() {
      this.sortAllTasksByTheTitle();
      this.showSnacbarForSorting();
    },
  },
};
</script>

<style lang="scss" scoped></style>
