<template>
  <div id="addTask">
    <v-text-field
      v-model="newTaskTitle"
      @click:append="addTask"
      @keyup.enter="addTask"
      outlined
      label="Add Task..."
      append-icon="mdi-plus"
      class="pa-3"
      hide-details
      clearable
    ></v-text-field>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { bus } from "@/main.js";
export default {
  name: "addTask",
  data() {
    return {
      newTaskTitle: "",
    };
  },
  methods: {
    ...mapActions(["addNewTask"]),
    addTask() {
      if (this.newTaskTitle === "") {
        alert("Please fill out the title of task!!!");
      } else {
        const id = Math.floor(Math.random() * 1000);
        if (id > 3) {
          const newTask = {
            id: id,
            title: this.newTaskTitle,
            done: false,
          };
          this.addNewTask(newTask);
          bus.$emit("showSnackbar");
        }
        this.newTaskTitle = "";
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
