<template>
  <div>
    <router-link
      v-if="currentPage != 1"
      :to="{ name: 'Todo', query: { page: currentPage - 1 } }"
      rel="prev"
    >
      Previous Page
    </router-link>
    |
    <router-link
      v-if="currentPage <= Math.floor(tasks.totalTasks / 8) + 1"
      :to="{ name: 'Todo', query: { page: currentPage + 1 } }"
      rel="next"
    >
      Next Page
    </router-link>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState(["tasks"]),
    currentPage() {
      return parseInt(this.$route.query.page) || 1;
    },
  },
};
</script>
<style scoped>
a {
  text-decoration: none;
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}
</style>
