<template>
  <v-app id="app">
    <Header />
    <v-main>
      <router-view  :key="$route.fullPath"/>
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/Header.vue";
export default {
  name: "app",
  components: {
    Header,
  },
};
</script>
