<template>
  <div id="appBar">
    <v-app-bar
      app
      class="indigo"
      dark
      flat
      src="@/assets/moutain.jpg"
      :height="
        $vuetify.breakpoint.xs
          ? '125px'
          : $vuetify.breakpoint.sm
          ? '100px'
          : '80px'
      "
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(55,236,186,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>
      <v-app-bar-nav-icon @click="toggleNavDrawer"></v-app-bar-nav-icon>
      <div>
        <h2 class="ml-5">Vuetify Todo</h2>
        <ShowLiveClock class="ml-5" />
      </div>

      <v-spacer></v-spacer>

      <v-text-field
        @focus="searchClosed = false"
        @blur="searchClosed = true"
        placeholder="Search..."
        filled
        dense
        class="mt-5"
        prepend-inner-icon="mdi-magnify"
        :class="{ closed: searchClosed }"
        clearable
        rounded
        v-model="title"
        @input="filterTasks"
      ></v-text-field>
    </v-app-bar>
  </div>
</template>

<script>
import { bus } from "@/main.js";
import ShowLiveClock from "./ShowLiveClock.vue";
import { mapActions } from "vuex";
export default {
  name: "appBar",
  data() {
    return {
      searchClosed: true,
      title: "",
    };
  },
  components: {
    ShowLiveClock,
  },
  methods: {
    ...mapActions(["filterTasksByTitle"]),
    toggleNavDrawer() {
      bus.$emit("toggleDrawer");
    },
    filterTasks() {
      var titleFilterTasks = this.title;
      this.filterTasksByTitle(titleFilterTasks);
    },
  },
};
</script>

<style scoped>
.closed {
  max-width: 50px;
  text-align: center;
}
</style>
