<template>
  <div id="NavDrawer">
    <v-navigation-drawer v-model="drawer" app class="grey lighten-4">
      <v-list-item class="text-center">
        <v-list-item-content>
          <v-list-item-title class="title my-2">
            <v-avatar size="100px">
              <img src="@/assets/Ronadol.jpg" />
            </v-avatar>
          </v-list-item-title>
          <v-list-item-subtitle class="my-1">
            Ronaldo , famous football player!
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" :to="item.to">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { bus } from "@/main.js";
export default {
  name: "NavDrawer",
  data() {
    return {
      drawer: true,
      items: [
        { title: "Todo", icon: "mdi-format-list-checks", to: "/" },
        { title: "About", icon: "mdi-help-box", to: "/about" },
      ],
    };
  },
  methods: {},
  created() {
    bus.$on("toggleDrawer", () => {
      this.drawer = !this.drawer;
    });
  },
};
</script>

<style lang="scss" scoped></style>
