<template>
  <div>{{ timestamp }}</div>
</template>

<script>
export default {
  data() {
    return {
      timestamp: "",
    };
  },
  created() {
    setInterval(this.getNow, 1000);
  },
  methods: {
    getNow() {
      const today = new Date();
      const formatDate = new Date(today).toDateString();
      const time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = formatDate + " , " + time;
      this.timestamp = dateTime;
    },
  },
};
</script>

<style lang="scss" scoped></style>
